<template>
    <div style="float : right">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <nuxt-link class="nav-item nav-link active" to="/">افزودن محصول جدید</nuxt-link>
        <nuxt-link class="nav-item nav-link" to="/list"> لیست محصولات </nuxt-link>
    
      </nav>
    </div>
    
</template>
<script>
  name : 'AppHeader'
</script>
