<template>
  <div class="container-fluid">
 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">_</th>
      <th scope="col">نام</th>
      <th scope="col">تاریخ</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody >
    <tr v-for="(product) in products" :key="product.id">
      <th scope="row" >{{product.id}}</th>
      <td><img v-bind:src="product.picture"></td>
      <td>{{product.name}}</td>
      <td><span> {{product.date | moment("jDD /jMM /jYYYY")}} </span></td>
      <td>
        <button type="button" class="btn btn-danger" @click.prevent="deleting(product.id)">حذف</button>
      <button type="button" class="btn btn-info" @click.prevent="editProduct(product.id)">ویرایش</button></td>

    </tr>
    
  </tbody>
  
  
</table>
    <app-edit v-if="editing" :id = "productId"></app-edit>
</div>


</template>

<script>
    import AppEdit from '/components/EditProduct.vue'
    
    name : 'AppList'
    export default {
        components :{
            AppEdit
        },
         data () {
        return {
           products :[],
           editing : false,
           productId : 0,
        }
    },
    created () {
      this.getData()

    },
    updated () {
      console.log("Updated!!");
    },
    methods : {
        async getData () {
            const response = await this.$axios.$get('https://recruitment.deploysite.ir/api/product/')
            this.response = response 
            this.products = this.response.data
        },
        deleting (id) {
            this.$axios.$delete(`https://recruitment.deploysite.ir/api/product/${id}`)
            .then((result) => {
                console.log(result);
                this.getData()
            }).catch((err) => {
                console.log(err);
            });
        } ,
        editProduct (id) {
        this.productId = id;
        this.editing = !this.editing
    }
    },
    }
</script>

<style scoped>
.products {
     padding: 20px;
}
.items {
    margin-left: 80px;
}
tbody :hover {
  cursor: pointer;
  background-color: #009DEC;
  transition: 0.3s;
}

tr {
  border: 2px solid gray;
  width: 20%;
  height: 20%;
}
table {
    direction: rtl;
}



</style>

