<template>
<div class="container">
  <div class="add-product">
      <h3>ویرایش محصول </h3>
      <hr>
      <ValidationObserver v-slot= "{ handleSubmit }" >
       <form @submit.prevent="handleSubmit(onSubmit)"> 
          <ValidationProvider name = "Name" rules = "required|alpha" v-slot = "{errors}" >
              <div class="form-group col-md-6">
                  <label>نام</label><br>
                  <input type="text" class="form-control" v-model="product.name">
                  <span class="err-msg">{{ errors[0] }}</span>
              </div>
          </ValidationProvider>   
                 
           <ValidationProvider name = "Grouping" rules = "required" v-slot = "{errors}" >
              <div class="form-group col-md-6">
                  <label>دسته بندی</label><br>
                  <select class="form-control" v-model="product.options" >
                      <option :value="index.value" v-for = "index in opt" :key="index">{{index.label}}</option>
                  </select>
                  <span class="err-msg">{{ errors[0] }}</span>
              </div>
          </ValidationProvider> 
          <ValidationProvider name = "Type" rules = "required" v-slot = "{errors}" >
            <div class="form-check">
                    <label >نوع</label><br>
                    <label class="form-check-label" for="invalidCheck1">تست 1
                    </label>
                    <input class="form-check-input" type="radio" value="test1" id="invalidCheck1" v-model = "product.radio" required>

                    <br>

                    <label class="form-check-label" for="invalidCheck2">تست 2
                    </label>
                    <input class="form-check-input" type="radio" value="test2" id="invalidCheck2" v-model = "product.radio" required> 
                    <span class="err-msg">{{errors[0]}}</span>
                    </div>
          </ValidationProvider>
           <ValidationProvider name = "Publish" rules = "required" v-slot = "{errors}" >
                <div class="form-group checkboxes">
                   <label for="publish1">
                       <input type="checkbox"
                       id="publish1"
                       value="val1"
                       v-model="product.select"> انتشار 1 
                   </label><br>
                   <label for="publsih2">
                       <input type="checkbox"
                       id="publish2"
                       value="val2"
                       v-model="product.select"> انتشار 2
                   </label><br>
                   <label for="publish3">
                       <input type="checkbox"
                       id="publish3"
                       value="val3"
                       v-model="product.select"> انتشار 3
                   </label><br>
                   <span class="err-msg">{{ errors[0] }}</span>
               </div>
           </ValidationProvider>

                   <div class="col-md-6"></div>
          <ValidationProvider name = "Date" rules = "required" v-slot = "{errors}" >
                <div class="col-md-6">
                    <label for="validationDefault03" class="form-label">تاریخ</label>
                    <date-picker v-model="product.date" 
                     format="YYYY-MM-DD"
                     display-format="jDD jMMMM jYYYY">
                     </date-picker>
                    <span class="err-msg">{{ errors[0] }}</span>
                </div>
          </ValidationProvider>
                 <div class="col-md-12 form-group">
                  <ValidationProvider name = "Text" rules = "required" v-slot = "{errors}" >
                      <label for="exampleFormControlTextarea1">توضیحات </label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" v-model="product.text"></textarea>
                     <span class="err-msg">{{errors[0]}}</span>
                  </ValidationProvider>
                  <ValidationProvider rules="required" v-slot="{ validate, errors }">
                      <div class="form-group">
                            <label for="exampleFormControlFile1">تصویر</label>
                            <input  name="image_field" type="file" id="file" ref="file"  @change="updatePhoto($event.target.name, $event.target.files) || validate($event)" /> </div>
                            <span class="err-msg"> {{ errors[0] }} </span>
                  <div class="submiting">
                   <input type="submit" class="btn btn-primary" text="ُSubmit">
                </div>
                  </ValidationProvider>
                </div>
            

      </form>
      </ValidationObserver> 
    
  </div>
</div> 

</template>

<script>
    export default ({
        props : ['id'],
        data () {
            return {
                productId : this.id,
                product : {
                    name : '',
                    radio : 'test1',
                    date : '',
                    text : '',
                    select : [],
                    picture : "",
                    options: ""
                },
                opt : []
            }
        },

        created () {
            console.log('id : ' ,this.id);
            this.getData();
            this.loadOptions();
        },
      
        methods : {
            async loadOptions () {
            const response = await this.$axios.$get('https://recruitment.deploysite.ir/api/get/select/options')
            this.opt = response.data
            console.log('opt : ' + this.opt);

           },
           async getData () {
               const response = await this.$axios.$get(`https://recruitment.deploysite.ir/api/product/${this.productId}`)
               this.response = response
               console.log(this.response.data);
               this.product.name = response.data.name;
                  this.product.date = response.data.date;
                  this.product.radio = response.data.radio;
                  this.product.select.push(response.data.select);
                  this.product.text = response.data.text;

            },
            updatePhoto (name,files) {
                if (!files.length) return;

                
                console.log(files);
                this.product.picture = files[0];
            }
           ,

            onSubmit () {
              
                console.log(this.product);
               
               const bodyFormData = new FormData();
               bodyFormData.append('name',this.product.name);
               bodyFormData.append('radio',this.product.radio);
               bodyFormData.append('date',this.product.date);
               bodyFormData.append('text',this.product.text);
               bodyFormData.append('select',this.product.select);
               bodyFormData.append('picture',this.product.picture);
               bodyFormData.append('_method', 'put');

                this.$axios.$post(`https://recruitment.deploysite.ir/api/product/${this.productId}`,
                bodyFormData,
                {headers :{
                    'Content-type' :'multipart/formData'
                     }})
                .then ((response) => {
                    console.log(response);
                    location.reload();
                },(error) => {
                    console.log(error);
                })

            }
                
                  
             
        }
    })


</script>

<style scoped>
.main-content {
     padding: 30px;
     

 }
 .add-product {
     margin-top: 40px;
     padding: 4px;
     height: 820px;
     border: 1px gray solid ;
     box-shadow: 2px 1px 5px rgb(0 0 0 /25%);
     direction: rtl;
     text-align: right;
     position: absolute;
     width: 100%;
     top: 4px;
     left: 0px;
    background-color: beige;
 }
 .submiting {
     margin: 10px;
     float: left;
 }
 .checkboxes {
     margin-top: 16px;
 }
 .return {
     margin-top: 10px;
     float: left
 }
 .err-msg {
     color: red;
 }

</style>