<template>
  <div class="container-fluid">
    <app-header /><br>
    
    <Nuxt />
  </div>
</template>
<script>
import AppHeader from '../components/AppHeader.vue'

  export default {
    components : {
      AppHeader,
    }
  }
</script>

<style>

</style>
