<template>
  <div>
    <app-create-product></app-create-product>
  </div>
</template>

<script>
import AppCreateProduct from '../components/AppCreateProduct.vue'

export default {
    components : {
      AppCreateProduct
    },
 

    head() {
      return {
        title: 'Add products',
        meta : [
          {
            hid : 'discription',
            name : 'discription',
            content : 'This page is for adding products'
          }
        ],
      }
    }
}
</script>

<style>

</style>