<template>
  <div>
    <app-list></app-list>  
</div>
</template>

<script>
import AppList from '../components/AppList.vue'

export default {
  components : {
    AppList
  },
    head() {
      return {
        title: 'List of products',
        meta : [
          {
            hid : 'discription',
            name : 'discription',
            content : 'This page is for list of products'
          }
        ],
      }
    }
}
</script>

<style>

</style>